.itema{
    grid-column-start: 1;
    grid-column-end:2;
    background-color: gainsboro;
}

.itemb{
    grid-column-start: 2;
    grid-column-end:3;
    background-color: rebeccapurple;

}

.itemc{
    grid-column-start: 3;
    grid-column-end:4;
    background-color: yellowgreen;

}

.itemd{
    grid-column-start: 4;
    background-color: orange;

}